mixin pagination(page, pages, count)
  .pagination
    if page > 1
      .pagination__prev
          a(href=`/stores/page/${parseFloat(page) - 1}`) Prev
    .pagination__text
      p Page #{page} of #{pages} - #{count} total results
    if page < pages
      .pagination__next
          a(href=`/stores/page/${parseFloat(page) + 1}`) Next
